{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <h1>Create a subreddit</h1>
    <form>
        <div class="mb-3">
            <label for="subredditName" class="form-label">Name</label>
            <input type="text" class="form-control" id="subredditName" aria-describedby="subredditNameHelp" required>
            <div id="subredditNameHelp" class="form-text">Name should be between 3 and 20 characters long, and may contain letters A-Z, numbers 0-9 and symbols _ and -. Subreddit names are case-insensitive.</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" aria-describedby="descriptionHelp"></textarea>
            <div id="descriptionHelp" class="form-text">Tell people what this sibreddit is about.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}