{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
            <div class="container pb-5">
                <div class="row">
                    <div class="col">
                        <a href="#" class="link-primary">Post title</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span><small>1234 points | <a href="post.html" class="link-secondary">1234
                                    comments</a></small></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span><small>Posted by <a href="#"
                                    class="link-secondary">0xc039c745468cb563be1fa5d7ec8af8e059659a2378fc4ce6d70643481432a0ce</a>
                                3
                                hours ago</small></span>
                    </div>
                </div>
            </div>
            <div class="container pb-5">
                <h2>Add a comment</h2>
                <form>
                    <div class="mb-3">
                        <textarea class="form-control" id="commentField"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>

            <!-- Comments list-->
            <h4>3 comments</h4>
            <div class="d-grid gap-3">
                <div class="container bg-light border">
                    <div class="row">
                        <span><small><a href="#"
                                    class="link-secondary">0x840b25afae02dae485f6bf9dedacb0973e6ca2f8eb675000b7895a0420aac4a2</a>
                                | 30 minutes ago</small></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum ante, ultrices quis
                            ullamcorper id, mattis sit amet magna. Suspendisse eget risus quis magna mollis congue.
                            Mauris non ligula in massa lacinia tincidunt eget vel lacus. Vestibulum vel mollis dolor.
                            Fusce ullamcorper purus nec arcu sagittis condimentum. Nunc mattis aliquet enim quis
                            rhoncus. Morbi lacus mi, dictum vitae finibus ac, dignissim ut ex. Sed feugiat, felis eu
                            molestie aliquam, lorem ligula elementum orci, ut fringilla odio lorem vitae augue. Nulla
                            efficitur tellus vel finibus sodales. Nam ipsum elit, iaculis a augue sodales, tincidunt
                            facilisis est. Duis ac mattis purus, eget suscipit mauris. Nulla leo eros, ultricies ac quam
                            nec, ultricies auctor nibh.
                        </div>
                    </div>
                </div>
                <div class="container bg-light border">
                    <div class="row">
                        <span><small><a href="#"
                                    class="link-secondary">0x840b25afae02dae485f6bf9dedacb0973e6ca2f8eb675000b7895a0420aac4a2</a>
                                | 30 minutes ago</small></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum ante, ultrices quis
                            ullamcorper id, mattis sit amet magna. Suspendisse eget risus quis magna mollis congue.
                            Mauris non ligula in massa lacinia tincidunt eget vel lacus. Vestibulum vel mollis dolor.
                            Fusce ullamcorper purus nec arcu sagittis condimentum. Nunc mattis aliquet enim quis
                            rhoncus. Morbi lacus mi, dictum vitae finibus ac, dignissim ut ex. Sed feugiat, felis eu
                            molestie aliquam, lorem ligula elementum orci, ut fringilla odio lorem vitae augue. Nulla
                            efficitur tellus vel finibus sodales. Nam ipsum elit, iaculis a augue sodales, tincidunt
                            facilisis est. Duis ac mattis purus, eget suscipit mauris. Nulla leo eros, ultricies ac quam
                            nec, ultricies auctor nibh.
                        </div>
                    </div>
                </div>
                <div class="container bg-light border">
                    <div class="row">
                        <span><small><a href="#"
                                    class="link-secondary">0x840b25afae02dae485f6bf9dedacb0973e6ca2f8eb675000b7895a0420aac4a2</a>
                                | 30 minutes ago</small></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum ante, ultrices quis
                            ullamcorper id, mattis sit amet magna. Suspendisse eget risus quis magna mollis congue.
                            Mauris non ligula in massa lacinia tincidunt eget vel lacus. Vestibulum vel mollis dolor.
                            Fusce ullamcorper purus nec arcu sagittis condimentum. Nunc mattis aliquet enim quis
                            rhoncus. Morbi lacus mi, dictum vitae finibus ac, dignissim ut ex. Sed feugiat, felis eu
                            molestie aliquam, lorem ligula elementum orci, ut fringilla odio lorem vitae augue. Nulla
                            efficitur tellus vel finibus sodales. Nam ipsum elit, iaculis a augue sodales, tincidunt
                            facilisis est. Duis ac mattis purus, eget suscipit mauris. Nulla leo eros, ultricies ac quam
                            nec, ultricies auctor nibh.
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}