{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
            <h1>Create a post</h1>
            <form>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL</label>
                    <input type="text" class="form-control" id="url">
                </div>
                <div class="mb-3">
                    <label for="subreddit" class="form-label">Subreddit</label>
                    <input type="text" class="form-control" id="subreddit" required>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Text</label>
                    <textarea class="form-control" id="text"aria-describedby="textHelp"></textarea>
                    <div id="textHelp" class="form-text">Extra things that you want to say about the post.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
{% endblock %}