{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
            <!-- About section-->
            <div class="d-grid gap-3 pb-5">
                <h1>/r/subredditName</h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span class="d-flex justify-content-center display-4">1234</span>
                        </div>
                        <div class="col">
                            <span class="d-flex justify-content-center display-4">1234</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="d-flex justify-content-center">Subscribers</span>
                        </div>
                        <div class="col">
                            <span class="d-flex justify-content-center">Online</span>
                        </div>
                    </div>
                </div>
                <h2>About</h2>
                <p>Subreddit description here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum
                    ante, ultrices quis
                    ullamcorper id, mattis sit amet magna. Suspendisse eget risus quis magna mollis congue.</p>
                <a href="#" class="btn btn-primary">Create a post</a>
            </div>

            <!-- Post list -->
            <div class="d-grid gap-3">
                <div class="container bg-light border">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="link-primary">Post title</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span><small>1234 points | <a href="post.html" class="link-secondary">1234
                                        comments</a></small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span><small>Posted by <a href="#"
                                        class="link-secondary">0xc039c745468cb563be1fa5d7ec8af8e059659a2378fc4ce6d70643481432a0ce</a>
                                    3
                                    hours ago</small></span>
                        </div>
                    </div>
                </div>
                <div class="container bg-light border">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="link-primary">Post title</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span><small>1234 points | <a href="post.html" class="link-secondary">1234
                                        comments</a></small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span><small>Posted by <a href="#"
                                        class="link-secondary">0xc039c745468cb563be1fa5d7ec8af8e059659a2378fc4ce6d70643481432a0ce</a>
                                    3
                                    hours ago</small></span>
                        </div>
                    </div>
                </div>
                <div class="container bg-light border">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="link-primary">Post title</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span><small>1234 points | <a href="post.html" class="link-secondary">1234
                                        comments</a></small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span><small>Posted by <a href="#"
                                        class="link-secondary">0xc039c745468cb563be1fa5d7ec8af8e059659a2378fc4ce6d70643481432a0ce</a>
                                    3
                                    hours ago</small></span>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}